DATABASE_URL=postgresql://postgres:postgres@localhost:5432/canchas_db
PORT=3001
NODE_ENV=development
JWT_SECRET=genera_uno_con_node_crypto
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=genera_otro_diferente
JWT_REFRESH_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
WOMPI_PUBLIC_KEY=pub_test_xxxx
WOMPI_PRIVATE_KEY=prv_test_xxxx